@model BankStats.Models.StatementModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserHome_Layout.cshtml";
}

<table id="statementTable">
    <thead><tr><td>Date</td><td>Type</td><td>Target</td><td>Paid In</td><td>Paid Out</td><td>Ballance</td><td>Category</td></tr></thead>

    @foreach(BankStats.Models.BankTransactionWithCategoryModel transaction in Model.Transactions)
    {
        <tr>
            <td>@transaction.Date</td>
            <td>@transaction.Type</td>
            <td>@transaction.Target</td>
            <td>@transaction.PaidIn</td>
            <td>@transaction.PaidOut</td>
            <td>@transaction.Ballance</td>
            <td>
            @if(transaction.Category == string.Empty)
            {
                using (Html.BeginForm("SetCategory", "Categorizer", FormMethod.Post, new { enctype = "multipart/form-data" }))//(Ajax.BeginForm(new AjaxOptions().//("SetCategory", "Categorizer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="text" name="Category" placeholder="Add a Category" value="@transaction.Category"/>
                    <input type="hidden" name="Target" value="@transaction.Target" />
                }
            }
            else
            {
                <a href="#" class="category-link">@transaction.Category</a>
            }
            </td>
        </tr>
        //["@spending.Type", @spending.PaidOut],</text>    
    }
</table>